.body {
    background: linear-gradient(to bottom right, blue, white);
    background-repeat: no-repeat;
}

.header {
    text-align: center;
    font-size: 140px;
    color: white;
}

.height {
    height: 600px;
}

.foot {
    text-align: center;
    height: 60px;
}


